body{
    width: 100%;
    height: 100%;
    background-image: url('../images/welcomepageplane.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}

#welcome_header{
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    padding: 0 25px;
}

#welcome_message{
    background-color: #fff;
    color: black;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    margin: 0;
}

#meteo-header,#aircraft-header,#flightmsg-header,#flights-header{
    font-size: 13px;
    font-weight: 400;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    color: black;

}
